.post-code-bg {
    width: fit-content ;
    min-width: 100% !important;
    background-color: #212121 !important;
    width: 100% !important;
    overflow-x: scroll !important;  
    position: relative;
    padding: 1rem 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.container {
    background-color: red;
}
