@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-green {
    background-color: #04aa6d;
}

.navbar {
    padding: 0px 0px !important;
}

.navbar-nav .nav-link {
    color: #fff !important;
    font-weight: bold;
    border-right: 1px solid;
    padding: 8px 18px;
}

.card-shadow {
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
    border-radius: 5px;
}

.category-heading {
    padding: 10px 12px;
    border-left: 6px solid #000;
    background-color: rgb(192, 192, 192);
    
}

.post-heading {
    font-size: 26px;
    color: #000;
}

.owl-nav button .owl-next, 
.owl-nav button .owl-prev {
    color: white !important; 
    margin-left: 10px;
    background-color: orange !important;
    border: none !important;
    outline: none;
    font-size: 20px !important;
    height: 28px; 
    width: 38px !important;
}

.underline {
    height: 3px;
    width: 60px;
    background-color: #e71212;
    margin-bottom: 10px;
}

.post-description {
    overflow-y: scroll;
    scrollbar-width: none;
}

.post-code-bg {
    width: fit-content;
    min-width: 100%;
    background-color: #212121 !important;
    width: 100% !important;
    overflow-x: scroll !important;
    position: relative;
    padding: 1rem 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.home-body {
    background-color: aqua;
}

.home-body .gov .row .col:nth-child(1) h1 {
    color: rgb(5, 5, 7);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}


.home-body .manager h1 {
    font-size: 50px;
}

.home-body .row2 {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-body .row2 .col h1 {
    font-family: 'Courier New', Courier, monospace;
}

/* ________________________________________________________________*/

.login-qism {
    height: 85vh;
    display: flex;
    align-items: center;
}
